<html>
<head>
<title>JPMoreGain</title>

<style type="text/css">

</style>
	{% load staticfiles %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../../static/dist/slider.css">

<script type="text/javascript" src="../../static/dist/slider.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'js/login.js' %}"></script>


</head>


<body>

<h1>JPMoreGain - The home of Modern Retros</h1>

<h2>Name of the Retroperspective</h2>


<h3>Multiple Answer</h3>

<div class="panel panel-default">
	<div class="panel-heading">
      <a data-toggle="collapse" href="#collapse1">
				<h4 class="panel-title">
				Question 1
				</h4>
			</a>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
				<div class="form-check">
						<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" >
								Option two can be something else and selecting it will deselect option one
						</label>
				</div>
				<div class="form-check">
						<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
								Option two can be something else and selecting it will deselect option one
						</label>
				</div>
				<div class="form-check disabled">
						<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" >
								Option three
						</label>
				</div><button type="button" class="btn btn-default" aria-label="Left Align" onclick="addOption()">
	 <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
			 </button>

		<div class="row" id="newOption" hidden>
				<div class="col-lg-6">
						<div class="input-group">
								<span class="input-group-addon">
										<input type="radio" aria-label="...">
								</span>
								<input type="text" class="form-control" aria-label="...">
						</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->

		</div><!-- /.row -->
			</div>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse2"><h4 class="panel-title">Question 2</h4></a>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
				<div class="form-check">
						<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios12" value="option1" >
								Option two can be something else and selecting it will deselect option one
						</label>
				</div>
				<div class="form-check">
						<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios22" value="option2">
								Option two can be something else and selecting it will deselect option one
						</label>
				</div>
				<div class="form-check disabled">
						<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios32" value="option3" >
								Option three
						</label>
				</div><button type="button" class="btn btn-default" aria-label="Left Align" onclick="addOption()">
	 <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
			 </button>

		<div class="row" id="newOption2s" hidden>
				<div class="col-lg-6">
						<div class="input-group">
								<span class="input-group-addon">
										<input type="radio" aria-label="...">
								</span>
								<input type="text" class="form-control" aria-label="...">
						</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->

		</div><!-- /.row -->
			</div>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse3"><h4 class="panel-title">Question 3</h4></a>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
				<li>answer 1</li>
				<li>answer 2</li>
				<li>answer 3</li>
				<li>Own answer</li>
			</div>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
        <a data-toggle="collapse" href="#collapse4"><h4 class="panel-title">Question 4</h4></a>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
				<li>answer 1</li>
				<li>answer 2</li>
				<li>answer 3</li>
				<li>Own answer</li>
			</div>
    </div>
</div>

</div>


<h3>Scale</h3>
<ul>
	<br>
	<li class="scale">
		How old are you?
		<br>
		<br>
		<input id="ex1" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="3"/>
		<span id="ex1CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>
	</li>
	<br>
	<li class="scale">
		How old are you?
		<br>
		<br>
		<input id="ex2" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="3"/>

	</li>
		<br>
	<li class="scale">
		How old are you?
		<br>
		<br>
		<input id="ex3" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="3"/>

	</li>
	<br>
	<li class="scale">
		How old are you?
		<br>
		<br>
		<input id="ex4" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="3"/>

	</li>


</ul>




<h3>Open Feedback</h3>


        <h1>Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/about/">About</a><br />
        <img src="{% static 'images/potato.png' %}" alt="Picture of Rango" /> <!-- New line -->
				<!-- BEGIN # BOOTSNIP INFO -->
				<div class="container">
					<div class="row">
						<h1 class="text-center">Modal Login with jQuery Effects</h1>
				        <p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Open Login Modal</a></p>
					</div>
				</div>
				<!-- END # BOOTSNIP INFO -->

				<!-- BEGIN # MODAL LOGIN -->
				<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				    	<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header" align="center">
									<img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</div>

				                <!-- Begin # DIV Form -->
				                <div id="div-forms">

				                    <!-- Begin # Login Form -->
				                    <form id="login-form">
						                <div class="modal-body">
								    		<div id="div-login-msg">
				                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
				                                <span id="text-login-msg">Type your username and password.</span>
				                            </div>
								    		<input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
								    		<input id="login_password" class="form-control" type="password" placeholder="Password" required>
				                            <div class="checkbox">
				                                <label>
				                                    <input type="checkbox"> Remember me
				                                </label>
				                            </div>
				        		    	</div>
								        <div class="modal-footer">
				                            <div>
				                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
				                            </div>
								    	    <div>
				                                <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
				                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
				                            </div>
								        </div>
				                    </form>
				                    <!-- End # Login Form -->

				                    <!-- Begin | Lost Password Form -->
				                    <form id="lost-form" style="display:none;">
				    	    		    <div class="modal-body">
						    				<div id="div-lost-msg">
				                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
				                                <span id="text-lost-msg">Type your e-mail.</span>
				                            </div>
						    				<input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
				            			</div>
						    		    <div class="modal-footer">
				                            <div>
				                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
				                            </div>
				                            <div>
				                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
				                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
				                            </div>
						    		    </div>
				                    </form>
				                    <!-- End | Lost Password Form -->

				                    <!-- Begin | Register Form -->
				                    <form id="register-form" style="display:none;">
				            		    <div class="modal-body">
						    				<div id="div-register-msg">
				                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
				                                <span id="text-register-msg">Register an account.</span>
				                            </div>
						    				<input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
				                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
				                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
				            			</div>
						    		    <div class="modal-footer">
				                            <div>
				                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
				                            </div>
				                            <div>
				                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
				                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
				                            </div>
						    		    </div>
				                    </form>
				                    <!-- End | Register Form -->

				                </div>
				                <!-- End # DIV Form -->

							</div>
						</div>
					</div>
				    <!-- END # MODAL LOGIN -->


<script type="text/javascript">
$("#ex1").slider();
$("#ex2").slider();
$("#ex3").slider();
$("#ex4").slider();
$("#ex1").on("slide", function(slideEvt) {
	$("#ex1SliderVal").text(slideEvt.value);
});

</script>



</body>

</html>